<h1>Posts</h1>
<%= form_with url: posts_path, method: :get, local: true do |form| %>
  <div>
    <%= form.label :filter %>
    <%= form.text_field :filter %>
  </div>
  <br/>
  <div>
    <%= form.label :order, "Order By Created At" %>
    <%= form.select :order, ['desc', 'asc'] %>
  </div>
  </br/>
  <%= form.submit 'Submit'%>
<% end %>
<br/></br/>
<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Commenters</th>
    </tr>
  </thead>
  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.content %></td>
        <td>
          <% post.comments.each_with_index do |comment, index| %>
            <% if (index + 1) < post.comments.size %>
              <%= comment.user.name %>,
            <% else %>
              <%= comment.user.name %>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
